Thank you for purchasing my product <br>

Hope you feel good!!!!<br>
<button>
<a href="/gallery/index" style= "text-decoration: none; color:blue; background-color:orange">continue shopping </a>
</button>